*{
  padding: 0;
  margin: 0;
}
 #bento{
  border: 5px solid darkgrey;
  width: 50em;
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 10em;
  }
  .box1 {
  background: blue;
  margin: 0;
  height: 10em;
  width: 25em;
  }
  .box2{
   background: orange;
   margin: 0;
   height: 10em;
   width: 25em;
   position: absolute;
   top: 0em;
   right: 0em;
  }
.box3{
 background: yellow;
 height: 10em;
 width: 25em;
}
.box4{
 background: green;
 height: 10em;
 width: 25em;
 position: absolute;
 bottom: 0em;
 right: 0em;
}
h1{
  font-size: 3em;
  color: white;
  margin: 0;
  bottom: 0;
}
